@font-face {                  /*Defining the font faces */
  font-family: "silkscreen";
  src:url("slkscr.ttf");
}

:root {                         /*Defining the colours for the menu to be called*/
  --inner: rgb(244,241,214);;
  --border: black;
  --accent: white;
}


body{                           /*Setting the universal properties for the body*/
  background-color: #A7D5FA;
  font-family: silkscreen;
  width: 100%;
  overflow-x: hidden;
  margin: 0px;
}

a{                            /*Decoration for all a elements*/
  text-decoration: none;
  color: rgb(0,0,0);
}

.main-container{             /*Container for the menu which controls the animation*/
  display: flex;
  justify-content: center;
  animation: menuMotion 2s ease-in forwards;
  max-width: 100%;
}


.main-menu-box{            /*Controls the visual parts of the menu, including the colour and the border*/
  width: 300px;
  font-family: silkscreen;
  padding: 30px;
  margin-top: -150px;

  background: var(--inner);
  box-shadow:
    /* Inner Background Color -- Same as inner */
      0   -6px 0  -2px var(--inner),
      0    6px 0  -2px var(--inner),
      0  -12px 0  -4px var(--inner),
      0   12px 0  -4px var(--inner),
      0  -18px 0  -8px var(--inner),
      0   18px 0  -8px var(--inner),
      0  -24px 0 -12px var(--inner),
      0   24px 0 -12px var(--inner),

    /* Inner Border */
     -2px  0   0   0   var(--border),
      2px  0   0   0   var(--border),
      0   -4px 0   0   var(--border),
      0    4px 0   0   var(--border),
      0  -10px 0  -2px var(--border),
      0   10px 0  -2px var(--border),
      0  -14px 0  -4px var(--border),
      0   14px 0  -4px var(--border),
      0  -20px 0  -8px var(--border),
      0   20px 0  -8px var(--border),
      0  -26px 0 -12px var(--border),
      0   26px 0 -12px var(--border),

    /* Middle Border -- Accent */
     -4px  0   0   0   var(--accent),
      4px  0   0   0   var(--accent),
      0   -2px 0   2px var(--accent),
      0    2px 0   2px var(--accent),
      0   -8px 0   0px var(--accent),
      0    8px 0   0px var(--accent),
      0  -12px 0  -2px var(--accent),
      0   12px 0  -2px var(--accent),
      0  -16px 0  -4px var(--accent),
      0   16px 0  -4px var(--accent),
      0  -22px 0  -8px var(--accent),
      0   22px 0  -8px var(--accent),
      0  -28px 0 -12px var(--accent),
      0   28px 0 -12px var(--accent),

    /* Outer Border */
     -6px  0   0   0   var(--border),
      6px  0   0   0   var(--border),
      0    0   0   4px var(--border),
      0   -6px 0   2px var(--border),
      0    6px 0   2px var(--border),
      0  -10px 0   0   var(--border),
      0   10px 0   0   var(--border),
      0  -14px 0  -2px var(--border),
      0   14px 0  -2px var(--border),
      0  -18px 0  -4px var(--border),
      0   18px 0  -4px var(--border),
      0  -24px 0  -8px var(--border),
      0   24px 0  -8px var(--border),
      0  -30px 0 -12px var(--border),
      0   30px 0 -12px var(--border);


}


.outer{                    /*Controls the border for a higlighted element*/

  border-style: dashed;
  border-color: var(--border);
  padding: 10px;
}



.main-menu-box li{         /*controls the styling for the individual elements in the list*/
  list-style-type: none;
  margin-left: 25px;
  padding: 5px;
  font-size: 20px;
  margin-bottom: 30px;
}

.main-menu-box li a{      /*controls the styling for the link elements in the list*/
  text-decoration: none;
  color: rgb(0,0,0);
}

.menu-button{              /*controls the styling for the button that controls the menu toggle*/
  position: fixed;
  left: 85%;
  top: 5%;
  font-family: silkscreen;
  padding: 30px;
  padding-left: 60px;
  padding-right: 60px;
  background: #77dd77;
  font-size: 20px;
  border: dotted;
  cursor: pointer;
}

.menu-button:hover{    /*used show that the menu button is clickable*/
  background: white;
}

#alt.main-container{ /*Alternate container for holding the menu, which gives it the property to stay off screen*/
  z-index: 1;
position: fixed;
top: -150px;
left: 40%;
}

.disable-css-transitions {             /*Used to disable the animations so the menu does not animate until menu button is clicked*/
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    animation: none !important;
}

.logo{                            /*positioning for the logo*/
  text-align: center;
  margin-top: 60px;
  margin-bottom: -20px;
  font-size: 40px;
}

.alt-logo{                        /*Alternate logo positioning*/
  text-align: center;
  margin-top: 60px;
  margin-bottom: -20px;
  font-size: 40px;
}


.title{                          /*Stylings for the titles*/
  position: relative;
  left: 25%;
  border: solid;
  box-sizing: border-box;
  width: 50%;
  text-align: center;
  z-index: -1;
}

h2{                            /*Stylings for the h2 elements*/
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}

p{                             /*Styling for the p tags*/
  color: #2C363F;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 16px;
}

hr{                            /*Stylings for the border elements*/
  border-style:  dotted;
  border-width: medium;
}

.skills li{                    /*positioning for the skills list items*/
  line-height: 20px;
}

@keyframes menuMotion {        /*Controls the animation for the menu to appear on screen*/
  0%{                          /*Menu starts off screen and then transitions into view */
  transform:translateY(-300px);
  }
  100%{
    transform:translateY(350px);
  }



}

@keyframes logoFade{      /*Controls the animation for the logo to appear on screen*/
  0%{                     /*Logo starts with a transparency of 0 and then gradually fades in */
    opacity: 0%;
  }
  100%{
    opacity: 100%;
  }
}


.me{                      /*positioning for the image on home screen*/
  text-align: center;
  position: relative;
  z-index: -1;
  right: 20%;
  top: 50px;
}

/*****************************************************/
/*mobile styles*/
/*****************************************************/

.mob-container{        /*positions all mobile items into the center*/
  text-align: center;
}


label{                /*styling for the hamburger*/
  font-size: 50px;
  display: none;
}

#toggle {            /*hides the hamburger elements*/
  display: none;
}

.main-mob-menu{        /*styling for the mobile menu*/
  margin-top: 100px;
}

.main-mob-menu li{      /*stylings for the mobile menu items*/
  list-style-type: none;
  font-size: 20px;
  margin-bottom: 100px;
  text-align: center;
  margin-left: -50px;

}

.main-mob-menu li a{
  text-decoration: none;
  color: rgb(0,0,0);
  background-color: var(--inner);
  padding: 20px;

}

.ct, .cb, .cr, .cl {        /*stylings for the hamburger*/
    background-color: var(--inner);
    position: fixed;
    z-index: 99999;
}
.ct {
  top: 0;
  right: 0;
  left: 0;
  height: 12px;
}
.cr {
  top: 0;
  right: 0;
  bottom: 0;
  width: 12px;
}
.cb {
  bottom: 0;
  right: 0;
  left: 0;
  height: 12px;
}
.cl {
  top: 0;
  left: 0;
  bottom: 0;
  width: 12px;
}

.profile{
  border: dotted;
}

/***********************************************/
/*media queries*/
/***********************************************/

@media only screen and (max-width: 1700px) { /*positioning for image when screen size is large*/
  .me{
    right: 25%
  }
}
@media only screen and (max-width: 1366px) {
  .meImg{
    display: none;
  }
}
@media only screen and (max-width: 1024px) {
  .main-menu-box{
    display: none;
  }
  .menu-box{                              /*Hides the menu on mobile devices*/
    display: none;
  }
  label{                                 /*positioning for hamburger*/
    display: block;
    cursor: pointer;
    z-index: 1;
  }
  .mob-menu{                            /*positioning for mobile menu*/
    text-align: center;
    margin-right: 40px;
    line-height: 70px;
    display: none;
    position: sticky;
    top: 0px;
  }

  .sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

  .mob-menu li{                    /*stylings for mobile menu items*/
    list-style-type: none;
    font-size: 20px;

  }
  .mob-menu li a{
    text-decoration: none;
    color: rgb(0,0,0);
    background-color: var(--inner);
    padding: 20px;
    line-height: 100px;

  }
  #toggle:checked + .mob-menu{  /*displays the mobile menu when hamburger pressed */
    display: block;
  }
  .menu-button{                 /*Hides the menu button on mobile devices*/
    display: none;
  }

  .content p{
    font-size: 20px;
  }
  .content li{
    font-size: 16px;
    padding-bottom: 20px;
  }
  .img{
    display: none;
  }
  .profile{
    position: relative;
    left: 10%;
  }
  .contact-button{                /*Stylings for the buttons on the contact page*/
    font-family: silkscreen;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    border: dotted;
    background: #77dd77;
    position: relative;
    left: 25%;
  }


}

/****************************************************/
/*Media queries for deskop devices*/
/****************************************************/

@media only screen and (min-width: 1025px) {
  .logo{ /*stylings for logo*/
    animation: logoFade 3s forwards;
    animation-delay: 3s;
    opacity: 0;
  }
  .main-mob-menu{ /*hiding mobile menu*/
    display: none;
  }
  .mob-menu{
    display: none;
  }
  .ct, .cb, .cr, .cl {    /*hides hamburger*/
    display: none;
  }
  .alt-logo{
    padding-bottom: 100px;
  }
  .content p{
    font-size: 25px;
  }
  .content li{
    font-size: 20px;
    padding-bottom: 10px;
  }
  .content a:hover{
    color: white;
  }
  .grid{                  /*controls grid elements*/
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .grid2{                  /*second grid for separate elements*/
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 1fr;

  }
  .title{
    font-size: 45px;
  }
  #main.title{
    margin-bottom: 50px;
  }
  .content-area{
    padding-top: 80px;
  }
  .category{
    margin-bottom: 70px;
    margin-top: 50px;
  }

  #contact-me.skills li{      /*stylings for the contact list items*/
    text-align: center;
    font-size: 50px;
    padding: 50px;
    text-decoration: none;
    list-style: none;
  }

  #contact-me.skills a{      
    color: #DA3E52;
  }
  #contact-me.skills a:hover{
    color: white;
  }
  .contact-button{
    display:none;
  }

}
